ul{
    margin: 0;
    padding: 0;
    background: rgb(191, 6, 6);
    overflow: hidden;
    text-align: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}
ul li{
    list-style-type: none;
    display: inline-block;
}
ul li a:hover{
    background: white;
    color: rgb(191, 6, 6);
}
ul li a{ 
    text-decoration: none;
    display: inline-block;
    padding: 10px 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
    
}
.dt:hover .dropdown{
    display: block;
    z-index: 5;
}
.dropdown{
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    display: none;
    background: rgb(191, 6, 6);
    min-width: 100px;
    z-index: 5;
}
.dropdown a{
    display: block;
    z-index: 5;
}
.dropdown a:hover{
    background: white;
    color: rgb(191, 6, 6);
    z-index: 5;
}
.bt2 a{
    display: block;
    z-index: 5;
}
.bt2{
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    display: none;
    background: rgb(191, 6, 6);
    /*min-width: 173px;*/
    min-width: 161px;
    z-index: 5;
}
.bt2 a:hover{
    background: white;
    color: rgb(191, 6, 6);
    z-index: 5;
}
.bt:hover .bt2{
    display: block;
    z-index: 5;
}
